.import/.gdignore
.import/arrow.png-1bb46d27a9cfee2f563190c80bb492c8.md5
.import/arrow.png-1bb46d27a9cfee2f563190c80bb492c8.stex
.import/food.png-3b080bbb90078ca4af98721e023def66.md5
.import/food.png-3b080bbb90078ca4af98721e023def66.stex
.import/home.png-8a458439401661df9b4d7ec5879299c6.md5
.import/home.png-8a458439401661df9b4d7ec5879299c6.stex
.import/icon.png-487276ed1e3a0c39cad0279d744ee560.md5
.import/icon.png-487276ed1e3a0c39cad0279d744ee560.stex
.import/robot.png-35437e1b3e6753211b177acd8044e716.md5
.import/robot.png-35437e1b3e6753211b177acd8044e716.stex
.mono/assemblies/Debug/api_hash_cache.cfg
.mono/assemblies/Debug/GodotSharp.dll
.mono/assemblies/Debug/GodotSharp.pdb
.mono/assemblies/Debug/GodotSharp.xml
.mono/assemblies/Debug/GodotSharpEditor.dll
.mono/assemblies/Debug/GodotSharpEditor.pdb
.mono/assemblies/Debug/GodotSharpEditor.xml
.mono/assemblies/Release/api_hash_cache.cfg
.mono/assemblies/Release/GodotSharp.dll
.mono/assemblies/Release/GodotSharp.pdb
.mono/assemblies/Release/GodotSharp.xml
.mono/assemblies/Release/GodotSharpEditor.dll
.mono/assemblies/Release/GodotSharpEditor.pdb
.mono/assemblies/Release/GodotSharpEditor.xml
.mono/metadata/ide_messaging_meta.txt
.mono/metadata/scripts_metadata.editor
.mono/metadata/scripts_metadata.editor_player
.mono/temp/bin/Debug/ai-godot-project.dll
.mono/temp/bin/Debug/ai-godot-project.pdb
.mono/temp/obj/ai-godot-project.csproj.nuget.dgspec.json
.mono/temp/obj/ai-godot-project.csproj.nuget.g.props
.mono/temp/obj/ai-godot-project.csproj.nuget.g.targets
.mono/temp/obj/project.assets.json
.mono/temp/obj/project.nuget.cache
.mono/temp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
.mono/temp/obj/Debug/ai-godot-project.AssemblyInfo.cs
.mono/temp/obj/Debug/ai-godot-project.AssemblyInfoInputs.cache
.mono/temp/obj/Debug/ai-godot-project.assets.cache
.mono/temp/obj/Debug/ai-godot-project.csproj.AssemblyReference.cache
.mono/temp/obj/Debug/ai-godot-project.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/ai-godot-project.csproj.FileListAbsolute.txt
.mono/temp/obj/Debug/ai-godot-project.dll
.mono/temp/obj/Debug/ai-godot-project.GeneratedMSBuildEditorConfig.editorconfig
.mono/temp/obj/Debug/ai-godot-project.pdb
